@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-noto-sans: "Noto Sans Thai", sans-serif;

  --text-primary: hsla(0, 0%, 0%, 0.85);
  --text-secondary: hsla(0, 0%, 0%, 0.45);
}

.divider {
  color: hsla(0, 0%, 0%, 0.06);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  color: var(--text-primary);
  font-family: var(--font-noto-sans);
}

h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.title-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.title-2 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.body-2 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
